
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerError</title>
</head>
<body>
    <div> 
        <h2>Internal server error</h2>
        <p>There is a problem with the resource your are looking for, and it cannot be displayed.</p>
    </div>
</body>
</html>
