
@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div>
    <div>
        Hello!!! This is Admin panel!!!
    </div>
    <div>
        @Html.ActionLink("Team member", "Index", "TeamMembers")
    </div>
    <div>
        @Html.ActionLink("Technology", "Index", "Technologies")
    </div>
    <div>
        @Html.ActionLink("Project", "Index", "Projects")
    </div>
</div>

