@model CapitalSoftWebSite.Models.Technology
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

    <div>
        <h2>Technology</h2>
        <p>Details</p>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TechnologyID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

