
@{
    ViewBag.Title = "Index";
}

<body class="body-service">
    <div class="a1-fon-2">
        <div class="container work-plan" id="work-plan">
            <div class="inscription-plan-work">
                <h1>СЕРВИСЫ</h1>
                <div class="work-plan-1 hs col-sm-12 col-md-4" style="    padding-bottom: 48px">
                    <img src="~/Content/Images/web.png" alt="web" style="
    width: 36%;">
                    <h3>WEB</h3>
                    <p>Мы помогаем вашему бизнесу расти, и это не просто слова. Если вам нужен веб-сайт для вашей компании, чтобы люди могли узнать о вашей организации и о ваших услугах больше, мы можем организовать все это. Наша компания обеспечит хороший дизайн, творческие идеи и очень четкий интерфейс.</p>
                </div>
                <div class="work-plan-1 col-sm-12  col-md-4" style="
    padding-bottom: 20px">
                    <img src="~/Content/Images/training.png" alt="web" style="
    width: 36%;">
                    <h3>Training</h3>
                    <p>Мы действительно хотим, чтобы все те, кто интересуется ИТ-отраслью, могли стать частью этой сферы. Для этого очень важно организовать регулярные тренинги, чтобы желающие могли определить свою профессию и увидеть все изнутри. Все те, кто обладает большим потенциалом и постоянно стремятся развиваться в своем направлении, смогут найти свое место в нашей команде.</p>
                </div>
                <div class="work-plan-1 col-sm-12  col-md-4">
                    <img src="~/Content/Images/app.png" alt="web" style="
    width: 36%;">
                    <h3>Software solutions</h3>
                    <p>Любое приложение, которое вам нужно для вашего офиса, для вашего бизнеса, которое  ускоряет процесс работы, контролирует все и не тратит время впустую, мы поможем с этим. После того, как вы сообщите нам, что вам нужно, мы сразу начнем работу над вашим проектом, и вскоре вы увидите на своем компьютере самое то приложение, которое решает многие проблемы и станет неотъемлемой частью вашего бизнеса. Вы получаете то, что вам нужно: крутой дизайн и все необходимые функции.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="bottom-fon col-md-12">
            <div class="contact-left contact-fon col-md-12 col-sm-12 col-xs-12">
                <div class="contact">
                    <h3>Наши контакты</h3>
                    <i class="fa fa-phone" aria-hidden="true"> +37497178384</i><br>
                    <i class="fa fa-envelope" aria-hidden="true"> capitalsoft@gmail.com</i><br>
                    <i class="fa fa-map-marker" aria-hidden="true"> Artsakh Stepanakert Street Martuni 20/1  <br /> Capital Soft office </i>
                </div>
            </div>
        </div>
    </div>
</body>

