@model CapitalSoftWebSite.Models.Project

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                <h4 class="modal-title">@Html.DisplayFor(model => model.Name)</h4>
            </div>

            @{
                if (ViewBag.Portfolio == true)
                {
                    <p>@Html.DisplayFor(model => model.LargeDesc)</p>
                }
                else
                {
                    <p>@Html.DisplayFor(model => model.Description)</p>
                }
            }

            <div class="alert">
                <div class="slideshow-container">
                    @foreach (var item in Model.Images)
                    {
                        <div class="mySlides">
                            <img src="@Url.Action("GetImage", "Home", new { item.ImageID })" alt="" style="width:100%" />
                        </div>
                    }
                </div>
                <a class="prev" id="prev">&#10094;</a>
                <a class="next" id="next">&#10095;</a>
                <br>
                <div style="text-align:center">
                    @{
                        int count = Model.Images.Count;
                        int j = 0;
                        if (count > 0)
                        {
                            do
                            {

                                <span class="dot" onclick="currentSlide(@j+1)" id="dot"></span>
                                ++j;
                            } while (j < count);
                        }
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>





</div>


<link rel="stylesheet" href="~/Content/slide.css" type="text/css" />
<script src="~/Scripts/slide.js"></script>
